trunk/core/src/test/resources/org/springframework/ws/wsdl/wsdl11/builder/import.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:schema="http://www.springframework.org/spring-ws/samples/airline/schemas"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.springframework.org/spring-ws/wsdl/definitions"
                  targetNamespace="http://www.springframework.org/spring-ws/wsdl/definitions">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.springframework.org/spring-ws/samples/airline/schemas"
                    schemaLocation="schema.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="GetFrequentFlyerMileageResponse">
        <wsdl:part element="schema:GetFrequentFlyerMileageResponse" name="GetFrequentFlyerMileageResponse"/>
    </wsdl:message>
    <wsdl:message name="BookFlightResponse">
        <wsdl:part element="schema:BookFlightResponse" name="BookFlightResponse"/>
    </wsdl:message>
    <wsdl:message name="GetFlightsRequest">
        <wsdl:part element="schema:GetFlightsRequest" name="GetFlightsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetFlightsFault">
        <wsdl:part element="schema:GetFlightsFault" name="GetFlightsFault"/>
    </wsdl:message>
    <wsdl:message name="GetFrequentFlyerMileageRequest">
        <wsdl:part element="schema:GetFrequentFlyerMileageRequest" name="GetFrequentFlyerMileageRequest"/>
    </wsdl:message>
    <wsdl:message name="GetFlightsResponse">
        <wsdl:part element="schema:GetFlightsResponse" name="GetFlightsResponse"/>
    </wsdl:message>
    <wsdl:message name="BookFlightRequest">
        <wsdl:part element="schema:BookFlightRequest" name="BookFlightRequest"/>
    </wsdl:message>
    <wsdl:portType name="Airline">
        <wsdl:operation name="GetFlights">
            <wsdl:input message="tns:GetFlightsRequest" name="GetFlightsRequest"/>
            <wsdl:output message="tns:GetFlightsResponse" name="GetFlightsResponse"/>
            <wsdl:fault message="tns:GetFlightsFault" name="GetFlightsFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetFrequentFlyerMileage">
            <wsdl:input message="tns:GetFrequentFlyerMileageRequest" name="GetFrequentFlyerMileageRequest"/>
            <wsdl:output message="tns:GetFrequentFlyerMileageResponse" name="GetFrequentFlyerMileageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="BookFlight">
            <wsdl:input message="tns:BookFlightRequest" name="BookFlightRequest"/>
            <wsdl:output message="tns:BookFlightResponse" name="BookFlightResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AirlineBinding" type="tns:Airline">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetFlights">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetFlightsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetFlightsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GetFlightsFault">
                <soap:fault name="GetFlightsFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetFrequentFlyerMileage">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetFrequentFlyerMileageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetFrequentFlyerMileageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BookFlight">
            <soap:operation soapAction=""/>
            <wsdl:input name="BookFlightRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BookFlightResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AirlineService">
        <wsdl:port binding="tns:AirlineBinding" name="AirlinePort">
            <soap:address location="http://localhost:8080/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>