trunk/samples/stockquote/src/main/resources/org/springframework/ws/samples/stockquote/ws/stockquote.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://www.springframework.org/spring-ws/samples/stockquote"
                  targetNamespace="http://www.springframework.org/spring-ws/samples/stockquote">
    <wsdl:types>
        <xsd:schema xmlns:tns="http://www.springframework.org/spring-ws/samples/stockquote"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                    targetNamespace="http://www.springframework.org/spring-ws/samples/stockquote">
            <xsd:element name="StockQuoteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Symbol" type="tns:StockSymbol"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="StockQuoteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="StockQuote" type="tns:StockQuote"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="StockSymbol">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Z]+"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="StockQuote">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Symbol" type="tns:StockSymbol"/>
                    <xsd:element minOccurs="1" name="Last" type="xsd:double"/>
                    <xsd:element minOccurs="1" name="Date" type="xsd:dateTime"/>
                    <xsd:element minOccurs="1" name="Change" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="StockQuoteRequest">
        <wsdl:part element="tns:StockQuoteRequest" name="StockQuoteRequest"/>
    </wsdl:message>
    <wsdl:message name="StockQuoteResponse">
        <wsdl:part element="tns:StockQuoteResponse" name="StockQuoteResponse"/>
    </wsdl:message>
    <wsdl:portType name="Stock">
        <wsdl:operation name="StockQuote">
            <wsdl:input message="tns:StockQuoteRequest" name="StockQuoteRequest"
                        wsaw:Action="http://www.springframework.org/spring-ws/samples/stockquote/StockService/GetQuote"/>
            <wsdl:output message="tns:StockQuoteResponse" name="StockQuoteResponse"
                         wsaw:Action="http://www.springframework.org/spring-ws/samples/stockquote/StockService/Quotes"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StockSoap11" type="tns:Stock">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsaw:UsingAddressing wsdl:required="true"/>
        <wsdl:operation name="StockQuote">
            <soap:operation soapAction=""/>
            <wsdl:input name="StockQuoteRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="StockQuoteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StockService">
        <wsdl:port binding="tns:StockSoap11" name="StockSoap11">
            <soap:address location="http://localhost:8080/StockService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>