tags/spring-ws-2.0.0-RC1/core/src/test/resources/org/springframework/ws/wsdl/wsdl11/single-inline.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://www.springframework.org/spring-ws/single/schema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.springframework.org/spring-ws/single/definitions"
                  targetNamespace="http://www.springframework.org/spring-ws/single/definitions">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://www.springframework.org/spring-ws/single/schema"
                    xmlns="http://www.springframework.org/spring-ws/single/schema" elementFormDefault="qualified"
                    attributeFormDefault="unqualified">
            <xsd:simpleType name="customType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:element name="GetOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="child" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="child" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetOrderFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="child" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetOrderRequest">
        <wsdl:part name="GetOrderRequest" element="sch:GetOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrderFault">
        <wsdl:part name="GetOrderFault" element="sch:GetOrderFault"/>
    </wsdl:message>
    <wsdl:message name="GetOrderResponse">
        <wsdl:part name="GetOrderResponse" element="sch:GetOrderResponse"/>
    </wsdl:message>
    <wsdl:portType name="Order">
        <wsdl:operation name="GetOrder">
            <wsdl:input message="tns:GetOrderRequest" name="GetOrderRequest"/>
            <wsdl:output message="tns:GetOrderResponse" name="GetOrderResponse"/>
            <wsdl:fault message="tns:GetOrderFault" name="GetOrderFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderSoap11" type="tns:Order">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetOrder">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetOrderRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GetOrderFault">
                <soap:fault name="GetOrderFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderService">
        <wsdl:port binding="tns:OrderSoap11" name="OrderSoap11">
            <soap:address location="http://localhost:8080/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>