spring-ws-samples/airline/src/webapp/airline.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns="http://www.springframework.org/spring-ws/samples/airline"
                  xmlns:tns="http://www.springframework.org/spring-ws/samples/airline"
                  targetNamespace="http://www.springframework.org/spring-ws/samples/airline"
                  name="airline">
    <wsdl:import namespace="http://www.springframework.org/spring-ws/samples/airline" location="airline.xsd"/>
    <wsdl:message name="GetFlightsInput">
        <wsdl:part element="tns:GetFlightsRequest" name="body"/>
    </wsdl:message>
    <wsdl:message name="GetFlightsOutput">
        <wsdl:part element="tns:GetFlightsResponse" name="body"/>
    </wsdl:message>
    <wsdl:message name="BookFlightInput">
        <wsdl:part element="tns:BookFlightRequest" name="body"/>
    </wsdl:message>
    <wsdl:message name="BookFlightOutput">
        <wsdl:part element="tns:BookFlightResponse" name="body"/>
    </wsdl:message>
    <wsdl:portType name="AirlinePortType">
        <wsdl:operation name="GetFlights">
            <wsdl:input message="tns:GetFlightsInput"/>
            <wsdl:output message="tns:GetFlightsOutput"/>
        </wsdl:operation>
        <wsdl:operation name="BookFlight">
            <wsdl:input message="tns:BookFlightInput"/>
            <wsdl:output message="tns:BookFlightOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AirlineSoapBinding" type="tns:AirlinePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetFlights">
            <soap:operation soapAction="http://www.springframework.org/spring-ws/samples/airline/GetFlights"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BookFlight">
            <soap:operation soapAction="http://www.springframework.org/spring-ws/samples/airline/BookFlight"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AirlineService">
        <wsdl:port binding="tns:AirlineSoapBinding" name="AirlinePort">
            <soap:address location="http://localhost:8080/airline/Airline"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
