tags/spring-ws-1.5.0-rc1/xml/src/test/resources/org/springframework/xml/xsd/ABC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="urn:2" xmlns:tns="urn:1"
            attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:1">
    <xsd:import namespace="urn:2"/>
    <xsd:simpleType name="A">
        <xsd:restriction base="tns:B"/>
    </xsd:simpleType>
    <xsd:complexType name="B">
        <xsd:sequence>
            <xsd:element name="c" type="tns:C"/>
            <xsd:element name="d" type="ns0:D"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="C">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
