spring-xml/src/test/resources/org/springframework/xml/xsd/B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:1"
            xmlns="urn:1"
            xmlns:imported="urn:2" elementFormDefault="qualified">
    <xsd:include schemaLocation="C.xsd"/>
    <xsd:import schemaLocation="D.xsd" namespace="urn:2"/>
    <xsd:complexType name="B">
        <xsd:sequence>
            <xsd:element type="C" name="c"/>
            <xsd:element type="imported:D" name="d"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>