spring-ws-test/src/test/resources/org/springframework/ws/test/support/schemaValidatingMatcherTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.example.org/schema" xmlns:tns="https://www.example.org/schema" elementFormDefault="qualified">

    <element name="test" type="tns:testMessage"/>
    
    <complexType name="testMessage">
    	<sequence>
    		<element name="number" type="int"/>
    		<element name="text" type="string" minOccurs="0"/>
    	</sequence>
    </complexType>
</schema>
