core/src/test/resources/org/springframework/ws/soap/server/endpoint/interceptor/productSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.springframework.org/spring-ws/test/validation"
        xmlns:tns="http://www.springframework.org/spring-ws/test/validation" elementFormDefault="qualified">

    <include schemaLocation="../../../server/endpoint/interceptor/sizeSchema.xsd"/>

    <element name="product" type="tns:ProductType"/>

    <complexType name="ProductType">
        <sequence>
            <element name="number" type="integer"/>
            <element name="size" type="tns:SizeType"/>
        </sequence>
        <attribute name="effDate" type="date"/>
    </complexType>

</schema>
